@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #FF6A00;
}

/* [data-theme="light"] {
  --background: #ffffff;
  --foreground: #171717;
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
} */

/* Optional: fallback to system preference if no manual theme set */
@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: 'Antarctica-light';
  src: url('../../public/fonts/antarctica/regular/AntarcticaBTri-ExtraCondLight.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Antarctica-bold';
  src: url('../../public/fonts/antarctica/semi-bold/AntarcticaBTri-CondSemBd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SuisseIntl-r';
  src: url('../../public/fonts/suisse/regular/SuisseIntl-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SuisseIntl-m';
  src: url('../../public/fonts/suisse/medium/SuisseIntl-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SuisseIntl-sb';
  src: url('../../public/fonts/suisse/semi-bold/SuisseIntl-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SuisseIntl-b';
  src: url('../../public/fonts/suisse/Bold/SuisseIntl-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'suisseIntl', sans-serif;
}
.font-suisse {
  font-family: 'SuisseIntl-r', sans-serif;
}
.font-suisse-m {
  font-family: 'SuisseIntl-m', sans-serif;
}
.font-suisse-sb {
  font-family: 'SuisseIntl-sb', sans-serif;
}
.font-suisse-b {
  font-family: 'SuisseIntl-b', sans-serif;
}
.font-antarctica {
  font-family: 'Antarctica-light', sans-serif;
}
/* .button {
  display: inline-block;
  opacity: 1;
  background-color: #2628b4;
  border-radius: 12px;
  padding: 16px 32px;
  font-weight: 700;
  color: white;
  text-decoration: none;
} */
.rolling_wrapper {
  height: 16px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
  &:hover{
    color: var(--color-primary);
  }
  .rolling_inner_shown,.rolling_inner_hidden{
    line-height: 1.4;
  }
}
.social_icons a{
  transition: color 0.3s ease-in-out;
  &:hover{
    color:var(--color-primary);
  }
}
.container{
  padding-left: 50px;
  padding-right: 50px;
  max-width: unset;
}
/* cursor */
.cursor-outline, .cursor-dot {
  opacity: 0;
}

.cursor-outline {
  border-radius: 50px;
  position: absolute;
  width: 80px;
  height: 80px;
  border: solid 1px #fff;
  mix-blend-mode: difference;
pointer-events: none;
}

/* Visible when running fancy.js */
.cursor-dot {
  mix-blend-mode: difference;
  border-radius: 50px;
  position: absolute;
   width: 80px;
  height: 80px;
  background-color: white;
  border: solid 1px #fff;
  pointer-events: none;
}

.target,
.cursor-outline, 
.cursor-dot {
  /* needed for target (shared) */
  top: 50%;
  left: 10%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
  transform: translate(-50%, -50%) rotate(0deg);
}

.target {
  border-radius: 0;
  border-radius: 50%;
  position: relative;
  width: 80px;
  height: 80px;
  border: solid 1px #07b0da;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
}

.text {
  position: relative;
  color: white;
  margin: 0;
  user-select: none;
}

.target * {
pointer-events: none
}

.section-subtitle{
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1.5px;
  margin-left: 1rem;
  display:block;
  margin-bottom: 1rem;
  position: relative;
  font-family: 'Antarctica-bold', sans-serif;
  &::before{
    content:'•';
    font-size: 25px;
    position: absolute;
    left: -2px;
    top: 50%;
    transform: translate(-100%,-50%);
  }
}

.skills-list li{
  width: fit-content;
  line-height: 1.2;
}

.transition-bg-next{
  background-color: #ededed;
}
.rolling_wrapper{
  text-transform: uppercase;
  font-size: 12px;
}

[data-slider] {
  display: flex;
  overflow: hidden;
}
[data-slider] > * {
  flex-shrink: 0;
  width: 100%; /* Adjust width per slide as needed */
  box-sizing: border-box;
  padding: 0 1rem; /* Optional: space between slides */
}
.resume_button_move.moved{
  width: 300px;
  transform: translateX(-50%);
  .resume_back,.resume_plus_icon{
    display:none;
  }
  .resume_download_button{
    opacity: 1;
  }
}
.line-mask{
  line-height: 1.1;
}
.split.line {
  transform: translateY(-0.4rem);
}
.char-split,.char-split-inner .line{
  overflow: hidden;
}